<h1>Add a new landmark</h1>
<form action="/landmarks" method="POST">
  <label for="landmark_name">Landmark name:</label>
  <input name="landmark[name]" type="text" id="landmark_name"> </br>

  <label for="landmark_year_completed">Year Completed:</label><br>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">

  <input type="submit" value="Create New Landmark">

</form>
